.DS_Store

mooflix/node_modules/
mooflix/build/
mooflix/dist/
mooflix/.env
mooflix/.DS_Store
mooflix/npm-debug.log
mooflix/yarn-error.log
mooflix/package-lock.json
mooflix/yarn.lock

mooflixBE/vendor/
mooflixBE/storage/
mooflixBE/bootstrap/cache/
mooflixBE/public/storage/
mooflixBE/.env
mooflixBE/.env.*
mooflixBE/.DS_Store
mooflixBE/.phpunit.result.cache
mooflixBE/composer.lock
mooflixBE/npm-debug.log
mooflixBE/yarn-error.log
mooflixBE/package-lock.json
mooflixBE/yarn.lock

.idea/
.vscode/
